<h2>Resultados da Busca por: <%= @code %> </h2>


<p><%= @orders.count %> <%= Order.model_name.human(count: @orders.count).downcase %> <%= t(:found, count: @orders.count) %></p>
<div>
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</div>
