<h2><%= @supplier.brand_name %></h2>
<%= link_to 'Editar', edit_supplier_path %>
<div>
  <dl>
    <dt><strong>Razão social:</strong></dt>
    <dd><%= @supplier.corp_name %></dd>
    <dt><strong>Nome fantasia:</strong></dt>
    <dd><%= @supplier.brand_name %></dd>
    <dt><strong>Endereço:</strong></dt>
    <dd><%= @supplier.full_address %> / <%= @supplier.city %> - <%= @supplier.state %></dd>
    <dt><strong>CNPJ:</strong></dt>
    <dd><%= @supplier.registration_id.insert(2,'.').insert(6,'.').insert(10,'/').insert(15,'.') %></dd>
    <dt><strong>E-mail:</strong></dt>
    <dd><%= @supplier.email %></dd>
    <dt><strong>Telefone:</strong></dt>
    <dd><%= @supplier.phone %></dd>
    
  </dl>

</div>
<h3>Produtos deste fornecedor</h3>
<table>
  <% @product_models.each_slice(2) do |pms| %>
    <tr>
      <% pms.each do |pm| %>
        <td style="border:2px solid; padding: 5px;">
          <strong><%= pm.name %></strong>
          <dl>
            <dt>SKU:</dt>
            <dd><%= pm.sku %></dd>
            <dt>Dimensões:</dt>
            <dd><%= pm.width %>cm x <%= pm.height %>cm x <%= pm.depth %>cm</dd>
            <dt>Peso:</dt>
            <dd><%= pm.weight %>g</dd>
            
          </dl>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Voltar', suppliers_path %>
