<h2> Galpão <%= @warehouse.code %> </h2>
<%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %>
<%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete) %>
<h3> <%= @warehouse.description %> </h3>
<div>
  <dl>
    <dt><strong>Nome:</strong></dt>
    <dd><%= @warehouse.name %></dd>
    <dt><strong>Cidade:</strong></dt>
    <dd><%= @warehouse.city %>, <%= @warehouse.state %></dd>
    <dt><strong>Endereço:</strong></dt>
    <dd><%= @warehouse.address %></dd>
    <dt><strong>CEP:</strong></dt>
    <dd><%= @warehouse.cep.insert(5,'-') %></dd>
    <dt><strong>Área:</strong></dt>
    <dd><%= @warehouse.area %> m²</dd>
    <dt><strong>Área útil:</strong></dt>
    <dd><%= @warehouse.useful_area %> m²</dd>
    
   
    
  </dl>

</div>

<%= link_to("Voltar", root_path ) %>