<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp - Feito na Campus Code </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1 class="header">  Sistema de Galpões & Estoque </h1>
      <% end %>
      <nav>
        <%= link_to 'Fornecedores', suppliers_path, class: "botao" %>
        <%= link_to 'Modelos de Produtos', product_models_path, class: "botao" %>
        <%= link_to 'Registrar Pedido', new_order_path %>
        <%= link_to 'Meus Pedidos', orders_path %>
        <% if user_signed_in? %> 
          
        
          <%= form_with(url: search_orders_path, method: :get) do |f| %>
            <%= f.label :query, "Buscar Pedido" %>
            <%= f.text_field :query %>
            <%= f.submit "Buscar", class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
          <% end %>
          
          <p class="login"><%= current_user.description %></p>
          <%= button_to 'Sair', destroy_user_session_path, class: "login", method: :delete %>
          
          
        <% else %>
          <%= link_to 'Entrar', new_user_session_url, class: "login" %>
        <% end %>
      </nav>
    </header>
    
    <div>
      <%= notice  %>
      <%= alert %>
    </div>
    <main class="prose lg:prose-x">
      <%= yield %>
    </main>
  </body>
</html>
